---
import { getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import ArrowCard from "@components/ArrowCard"
import StackCard from "@components/StackCard.astro"
import { SITE, SOCIALS } from "@consts"
import TwinklingStars from "@components/TwinklingStars.astro"
import MeteorShower from "@components/MeteorShower.astro"


const allPosts = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())

const techPosts = allPosts
  .filter(post => post.data.category === "tech")
  .slice(0,3)

const culturePosts = allPosts
  .filter(post => post.data.category === "personal")
  .slice(0,3)

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0,3)

const talks = (await getCollection("talks"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0,3)

const publications = (await getCollection("publications"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0,3)

const stack = [
  { 
    text: "Astro", 
    icon: "astro", 
    href: "https://astro.build" 
  },
  { 
    text: "Javascript", 
    icon: "javascript", 
    href: "https://www.javascript.com" 
  },
  { 
    text: "Typescript", 
    icon: "typescript", 
    href: "https://www.typescriptlang.org" 
  },
  { 
    text: "Tailwind", 
    icon: "tailwind", 
    href: "https://tailwindcss.com" 
  },
]
---

<PageLayout title="Home" description={SITE.DESCRIPTION}>

  <!-- Light Mode: Particles -->
  <div class='absolute inset-0 block dark:hidden'>
    <div id='particles1' class='fixed inset-0'></div>
    <div id='particles2' class='fixed inset-0'></div>
    <div id='particles3' class='fixed inset-0'></div>
  </div>

  <!-- Dark Theme: Stars -->
  <div class='absolute inset-0 bg-black hidden dark:block'>
    <div id='stars1' class='fixed inset-0'></div>
    <div id='stars2' class='fixed inset-0'></div>
    <div id='stars3' class='fixed inset-0'></div>
  </div>

  <!-- Dark Theme: Twinkling Stars / Metors -->
  <div id="galaxy" class="fixed inset-0">
    <div class="hidden dark:block">
      <TwinklingStars/>
      <MeteorShower/>
    </div>
  </div>

  <script is:inline src="/js/bg.js"></script>
  
  <!-- HERO -->
  <section class="relative h-screen w-full">
    <div id="planetcont" class='animate absolute inset-0 top-1/4 overflow-hidden'>
      <div id="crescent" class='absolute top-0 left-1/2 -translate-x-1/2 w-[250vw] min-h-[100vh] aspect-square rounded-full p-[1px] bg-gradient-to-b from-black/25 dark:from-white/75 from-0% to-transparent to-5%'>
        <div id="planet" class='w-full h-full bg-white dark:bg-black rounded-full p-[1px] overflow-hidden flex justify-center'>
          <div id="blur" class='w-full h-20 rounded-full bg-neutral-900/25 dark:bg-white/25 blur-3xl'/>
        </div>
      </div>
    </div>
    <div class="animate absolute h-full w-full flex items-center justify-center">
      <div class='relative w-full h-full flex items-center justify-center'>
        <div class='p-5 text-center'>
          <p class='animated text-lg md:text-xl lg:text-2xl font-semibold opacity-75'>
            Hello, I am ...
          </p>
          <p class='animated text-2xl md:text-3xl lg:text-4xl font-bold uppercase text-black dark:text-white'>
            Miroslav Lzicar
          </p>
          <!-- <p class='animated text-sm md:text-base lg:text-lg opacity-75'>
            CTO @ <a href="https://deepmedchem.com" target="_blank" rel="noopener noreferrer" class="hover:opacity-100 transition-opacity">Deep MedChem</a>
          </p> -->
          <div id="ctaButtons" class='animated flex flex-wrap gap-4 justify-center mt-5'>
            <a href='/contact' class='py-2 px-4 rounded truncate text-xs md:text-sm lg:text-base bg-black dark:bg-white text-white dark:text-black hover:opacity-75 blend'>
              Say Hi!
            </a>
            <a href='/projects' class='py-2 px-4 truncate rounded text-xs md:text-sm lg:text-base border border-black/25 dark:border-white/25 hover:bg-black/5 hover:dark:bg-white/15 blend'>
              View my projects
            </a>
          </div>
          <button 
          id="scrollDown"
          aria-label="Scroll to content"
          class="animated absolute bottom-8 left-1/2 -translate-x-1/2 p-2 hover:opacity-75 transition-opacity cursor-pointer blend"
        >
          <svg 
            xmlns="http://www.w3.org/2000/svg" 
            width="24" 
            height="24" 
            viewBox="0 0 24 24" 
            fill="none" 
            stroke="currentColor" 
            stroke-width="2" 
            stroke-linecap="round" 
            stroke-linejoin="round"
            class="animate-bounce"
          >
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </button>
        
        <script>
          document.getElementById('scrollDown')?.addEventListener('click', () => {
            const aboutSection = document.getElementById('about');
            aboutSection?.scrollIntoView({ behavior: 'smooth' });
          });
        </script>
        </div>
      </div>
    </div>
  </section>

  <div id="about" class="relative bg-white dark:bg-black">
    <div class="mx-auto max-w-screen-sm p-5 space-y-24 pb-16">


  <!-- About Section -->
  <article class="max-w-prose mx-auto px-4">
    <h2 class="text-2xl font-bold mb-6 text-black dark:text-white">About Me</h2>
    <div class="mb-8 space-y-4">
      <p class="text-lg leading-relaxed">
        Currently serving as the <a class="font-semibold" style="text-decoration: none" href="https://deepmedchem.com/" target="_blank">CTO of Deep MedChem</a>, I lead initiatives to accelerate in-silico drug discovery through innovative AI solutions.
      </p>
      <p class="text-lg leading-relaxed">
        My experience spans:
        <ul class="list-disc list-inside mt-2 space-y-2">
          <li>AI/ML in Drug Discovery</li>
          <li>Machine Learning Research (Former at <a style="text-decoration: none" href="https://themama.ai/" target="_blank">MAMA AI</a>)</li>
          <li>Scientific Programming (Former at <a style="text-decoration: none" href="https://www.biodviser.com/" target="_blank">Biodviser</a>, <a style="text-decoration: none" href="https://www.eli-beams.eu/" target="_blank">ELI Beamlines</a>)</li>
          <li>Fullstack Development (Former at <a style="text-decoration: none" href="https://cuni.cz/UKEN-1.html" target="_blank">Charles University</a>)</li>
        </ul>
      </p>
    </div>

      <div class="flex flex-wrap gap-1 items-center justify-center">
        {
          SOCIALS.map((SOCIAL) => (
            <a 
              href={SOCIAL.HREF} 
              target="_blank" 
              aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`} 
              class="group size-10 rounded-full p-2 items-center justify-center hover:bg-black/5 dark:hover:bg-white/20  blend"
            >
              <svg class="size-full fill-current group-hover:fill-black group-hover:dark:fill-white blend">
                <use href={`/social.svg#${SOCIAL.ICON}`} />
              </svg>
            </a>
          ))
        }
        </div>

    </article>
  </section>

      <!-- Blog Preview Section -->

      
      <!-- Tech Blog Posts Section -->
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Recent posts (Tech)
            </p>
            <a href="/blog/tech" class="w-fit group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                All Tech posts
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {techPosts.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))}
          </ul>
        </div>
      </section>

      <!-- Culture Blog Posts Section -->
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Recent posts (Culture)
            </p>
            <a href="/blog/personal" class="w-fit group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                All Culture posts
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {culturePosts.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))}
          </ul>
        </div>
      </section>

      <!-- Publications Preview Section -->
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Recent publications
            </p>
            <a href="/publications" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                All publications
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {publications.map((publication) => (
              <li>
                <ArrowCard entry={publication} />
              </li>
            ))}
          </ul>
        </div>
      </section>


      <!-- Project Preview Section -->
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Recent projects
            </p>
            <a href="/projects" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                All projects
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))}
          </ul>
        </div>
      </section>


      <!-- talks Preview Section -->
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Recent talks
            </p>
            <a href="/talks" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                All talks
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {talks.map((talk) => (
              <li>
                <ArrowCard entry={talk} />
              </li>
            ))}
          </ul>
        </div>
      </section>


  
      <!-- Contact Section 
      <section class="animate">
        <div>
          <p class="font-semibold text-black dark:text-white">
            Let's Connect
          </p>
          <p>
            Reach out to me via email or on social media.
          </p>
          <div class="grid grid-cols-4 gap-y-2 mt-4 auto-cols-min">
            {SOCIALS.map(social => (
              <div class="col-span-1 flex items-center gap-1">
                <span class="whitespace-nowrap truncate">
                  {social.NAME}
                </span>
              </div>
              <div class="col-span-3 truncate">
                <a href={social.HREF} target="_blank" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
                  <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                    {social.TEXT}
                  </span>
                </a>
              </div>
            ))}
        </div>
      </section>
      -->
  
      <!-- Tech Stack Section -->
      <section class="animate">
        <div class="space-y-4">
          <p class="font-semibold text-black dark:text-white">
            Website build with
          </p>
          <div class="flex flex-wrap items-center gap-2 mt-5">
            {stack.map(item => (
              <StackCard 
                text={item.text}
                icon={item.icon}
                href={item.href}
              />
            ))}
          </div>
        </div>
      </section>

    </div>
  </div>
</PageLayout>
