---
import { type CollectionEntry, getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import ArticleTopLayout from "@layouts/ArticleTopLayout.astro"
import ArticleBottomLayout from "@layouts/ArticleBottomLayout.astro"

// Create the static publications pages
export async function getStaticPaths() {
    const publications = await getCollection("publications")
    return publications.map((publication) => ({
        params: { slug: publication.slug },
        props: { entry: publication }, // Change this line to pass entry explicitly
    }))
}

// Get the requested publication
interface Props {
    entry: CollectionEntry<"publications">
}

const { entry: publication } = Astro.props;
const { title, summary, thumbnail } = publication.data

// Construct the image path if thumbnail exists
const imagePath = thumbnail
  ? `/content/publications/${publication.slug}/${thumbnail}`
  : undefined
---

<PageLayout title={title} description={summary} image={imagePath}>
  <TopLayout>
    <div class="animate">
      <ArticleTopLayout entry={publication} />
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <ArticleBottomLayout entry={publication} />
    </div>
  </BottomLayout>
</PageLayout>