---
import { getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import Projects from "@components/Projects"
import { PROJECTS } from "@consts"

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())

const tags = [...new Set(projects.flatMap(project => project.data.tags))]
  .sort((a, b) => a.localeCompare(b))

// Get the first project with a thumbnail for the Open Graph image
const firstProjectWithThumbnail = projects.find(project => project.data.thumbnail)
const imagePath = firstProjectWithThumbnail?.data.thumbnail
  ? `/content/projects/${firstProjectWithThumbnail.slug}/${firstProjectWithThumbnail.data.thumbnail}`
  : undefined
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION} image={imagePath}>
  <TopLayout>
    <div class="animate page-heading">
      {PROJECTS.TITLE}
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <Projects client:load tags={tags} data={projects} />
    </div>
  </BottomLayout>
</PageLayout>
